.btn {
    display: flex;

    align-items: center;
    justify-content: center;

    height: 5.2rem;
    margin-bottom: 2.8rem;

    transition: 0.2s;

    border-radius: 10rem;

    color: $white;
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-shadow: 0 0.2rem 0 rgba($black, 0.2);

    cursor: pointer;

    @media (--tablet) {
        flex: 1;

        margin-right: 1rem;
        margin-left: 1rem;
    }

    &:hover {
        position: relative;
        top: 0.1rem;

        color: $white;
    }

    &--ios {
        border: solid 0.1rem darken($strong-cyan, 8%);

        background-color: $strong-cyan;
        box-shadow: 0 0.3rem 0 0.1rem darken($strong-cyan, 8%),
            0 0.9rem 2rem lighten($strong-cyan, 30%);

        &:hover,
        &:active {
            border: solid 0.1rem darken($strong-cyan-light, 8%);

            background-color: $strong-cyan-light;
            box-shadow: 0 0.2rem 0 0.1rem darken($strong-cyan-light, 8%),
                0 0.8rem 2rem lighten($strong-cyan, 10%);
        }
    }

    &--mac {
        border: solid 0.1rem darken($blue-light, 8%);

        background-color: $blue-light;
        box-shadow: 0 0.3rem 0 0.1rem darken($blue-light, 8%),
            0 0.9rem 2rem lighten($blue-light, 15%);

        &:hover,
        &:active {
            border: solid 0.1rem darken($blue-lighter, 8%);

            background-color: $blue-lighter;
            box-shadow: 0 0.2rem 0 0.1rem darken($blue-lighter, 8%),
                0 0.8rem 2rem lighten($blue-light, 10%);
        }
    }
}
