button {
    width: 100%;
    height: 5.3rem;
    margin-bottom: 2.7rem;
    padding-top: 0.5rem;

    transition: 0.2s;

    border-radius: 100px;

    color: $white;
    font-family: inherit;
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    line-height: 100%;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);

    cursor: pointer;
}

.btn-ios {
    border: solid 1px darken($strong-cyan, 8%);

    background-color: $strong-cyan;
    box-shadow: 0 0.3rem 0 0.1rem darken($strong-cyan, 8%),
        0 0.9rem 2rem lighten($strong-cyan, 30%);
}

.btn-mac {
    border: solid 1px darken($blue-light, 8%);

    background-color: $blue-light;
    box-shadow: 0 0.3rem 0 0.1rem darken($blue-light, 8%),
        0 0.9rem 2rem lighten($blue-light, 15%);
}

.desktop {
    margin-bottom: 5.5rem;
    padding-top: 1.8rem;
}

.devices {
    position: relative;
    top: 12px;
    left: -17px;

    max-width: 111.5%;
}
