.container {
    max-width: $grid-width;
    margin: 0 auto;
    padding-right: 2rem;
    padding-left: 2rem;

    text-align: center;
}

.inner-wrapper {
    max-width: 71rem;
    margin: 0 auto;
}

main {
    margin-bottom: 17.5rem;
}

header {
    margin: 2.2rem 0 16.5rem;

    @media (--phone-s) {
        margin-top: 12.2rem;
    }
}

.download-btns {
    @media (--tablet) {
        padding: 0 11rem;
    }
}

section {
    margin-bottom: 14.8rem;
}

aside {
    & > div {
        @media (--tablet) {
            max-width: calc(100% / 3);
            padding: 0 1.5rem;
        }

        @media (--desktop) {
            max-width: 100%;
            padding: 0;
        }
    }

    @media (--tablet) {
        display: flex;
    }
    @media (--desktop) {
        display: inline-block;

        width: 36rem;
        margin: 7.5rem 0 0 11rem;

        text-align: left;
    }
}

.access {
    margin-bottom: 8rem;
}

.workflow {
    margin-bottom: 8.1rem;

    &--tools {
        padding-top: 3.5rem;

        &-item {
            padding: 0 0 0.7rem;

            @media (--tablet) {
                flex-direction: column;
                align-self: baseline;

                max-width: calc(100% / 3);
                padding: 0 1.5rem;
            }
        }
    }
}

.clients {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @media (--tablet) {
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

.footer {
    padding-top: 2rem;
    padding-bottom: 2rem;

    background-color: $gray-light;

    &--logo-container {
        @media (--tablet) {
            padding-left: 3rem;
        }
        @media (--tablet) {
            padding-left: 0;
        }
    }

    &--wrap {
        flex-direction: row;
        flex-wrap: wrap;

        @media (--tablet) {
            flex-wrap: nowrap;
        }
    }

    &--links {
        flex-wrap: wrap;

        @media (--tablet) {
            max-width: 56rem;
        }

        @media (--laptop) {
            margin-left: 12.5rem;
        }

        & li {
            margin-bottom: 2rem;

            font-size: 1.8rem;
            text-align: center;

            @media (--tablet) {
                width: 18.3rem;

                text-align: left;
            }
        }

        & a {
            padding: 2rem 2.5rem;
        }
    }

    &--social {
        align-items: center;
        justify-content: space-around;

        margin: auto;

        @media (--tablet) {
            align-items: flex-start;

            margin: -1rem 0 0 auto;
        }
    }
}
