header {
    margin: 12.2rem 0 16.5rem;

    @media (--tablet) {
        margin: 13.1rem 0;
    }
}

aside {
    @media (--tablet) {
        max-width: 47rem;
        padding: 6.7rem 0 0 11rem;

        text-align: left;

        & > div {
            margin-bottom: 5.5rem;
        }
    }
}

footer {
    margin-top: 17.4rem;

    background-color: $gray-light;

    @media (--tablet) {
        margin-top: 12.4rem;
        padding: 4.3rem 0;
    }
}

.inner-wrapper {
    max-width: 71rem;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex-md {
    @media (--tablet) {
        display: flex;
    }
}

.pt-3-md {
    @media (--tablet) {
        padding-top: 3.1rem;
    }
}

.mx-w80 {
    @media (--tablet) {
        max-width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
}

.snippets {
    margin-bottom: 18.3rem;

    @media (--tablet) {
        margin-bottom: 10rem;
    }
}

.access {
    margin-bottom: 10.7rem;

    @media (--tablet) {
        margin-bottom: 12.7rem;
    }
}

.workflow {
    margin-bottom: 8.1rem;

    @media (--tablet) {
        margin-bottom: 11rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    &--tools {
        padding-top: 3.5rem;

        @media (--tablet) {
            padding-top: 2.35rem;
        }

        &-item {
            padding: 0 0 0.7rem;

            @media (--tablet) {
                flex-direction: column;
                align-self: baseline;

                max-width: calc(100% / 3);
                padding: 0 1.5rem;
            }
        }

        & img {
            margin: auto;
        }

        & h3 {
            margin-top: 4rem;
            margin-bottom: 1.8rem;

            @media (--tablet) {
                margin: 3.9rem 0 1.5rem;
            }
        }
    }
}

.clients {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    min-height: 54vh;
    margin-bottom: 17.1rem;

    @media (--tablet) {
        flex-direction: row;
        justify-content: space-between;

        margin-bottom: 16.2rem;
        padding-right: 2.1rem;
        padding-left: 2.1rem;
        min-height: unset;
    }
}

.main-footer {
    &--wrap {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        @media (--tablet) {
            flex-direction: row;

            padding-right: 2.1rem;
            padding-left: 2.1rem;
            align-items: flex-start;
        }
    }

    &--logo-container {
        @media (--tablet) {
            width: 25.2rem;
        }
    }

    &--links li {
        width: 18.3rem;
        margin-bottom: 2.7rem;

        font-size: 1.8rem;

        @media (--tablet) {
            margin-bottom: 1.9rem;
        }
    }

    &--links a {
        padding: 1rem;

        &:hover,
        &:active {
            color: $strong-cyan;
        }
    }

    &--links {
        flex-wrap: wrap;

        @media (--tablet) {
            text-align: left;
        }
    }

    &--social {
        align-items: center;
        justify-content: space-between;

        min-width: 15.4rem;
        margin: 2.5rem auto;

        @media (--tablet) {
            justify-content: flex-end;

            width: 38.6rem;
            margin-top: 2rem;

            & a:not(:last-child) {
                margin-right: 2rem;
            }
        }
    }
}

.social--icon {
    max-width: 2.4rem;

    margin-left: 0.4rem;

    &:hover,
    &:active {
        filter: invert(64%) sepia(12%) saturate(2282%) hue-rotate(122deg)
            brightness(94%) contrast(86%);
    }
}
