// colors
$strong-cyan: hsl(171, 66%, 44%);
$strong-cyan-light: #5dccbb;
$blue-light: hsl(233, 100%, 69%);
$blue-lighter: #8896ff;

$gray-blue-dark: hsl(210, 10%, 33%);
$gray-blue: hsl(201, 11%, 66%);

$gray-light: #f5f6f8;
$white: #fff;
$black: #111;

// grid
$grid-width: 1116px;
