// colors
$strong-cyan: hsl(171, 66%, 44%);
$strong-cyan-light: hsl(170.81, 52.11%, 58.24%);
$blue-light: hsl(233, 100%, 69%);

$gray-blue-dark: hsl(210, 10%, 33%);
$gray-blue: hsl(201, 11%, 66%);

$gray-light: #f5f6f8;
$white: #fff;

// grid
$grid-width: 1440px;
